body{
  background-color:#fad27b;

}

.cotainer{

    width: 80%;
    margin:auto;

h1{
  text-algn: center;
} 
img_corpo{
  wigth: 40%;
}
figure{
  text-align: center;
}
.img_topo{
  width: 80%;
}
p{
font-size: 1.5;
color: #000000
font-weight: bold;
text-indent: 50px;
text-align: justify;
}

p.italic {
  font-style: italic;
}









